rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /alma_site_content/{document} {
      allow read: if true;
      allow write: if request.auth != null &&
        exists(/databases/$(database)/documents/alma_admins/$(request.auth.uid));
    }

    match /alma_admins/{uid} {
      allow read: if request.auth != null;
      allow write: if request.auth != null &&
        get(/databases/$(database)/documents/alma_admins/$(request.auth.uid)).data.role == 'superadmin';
    }

    match /alma_leads_empresas/{document} {
      allow create: if true;
      allow read: if request.auth != null &&
        exists(/databases/$(database)/documents/alma_admins/$(request.auth.uid));
      allow update, delete: if false;
    }
  }
}
